/* Global Styles */

*{
    box-sizing: border-box;
}
.mr-dafoe-regular {
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.montserrat-Mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing:auto;
  font-weight: 400;
  font-style:normal;
}
  
html{
    margin: 0%;
    font-family: Mr Dafoe;
    background: black;
    color: white;
}
html, body, nav{
    margin: 0%;
    font-family: Montserrat;
    background: black
}

/* Desktop First Styling */

.bg-body-tertiary {
    /* Changed the o[acity to zero to make the navbar black */
    --bs-bg-opacity: 0;
}
.hamicon{
    color: white;
    font-size: larger;
}
.container-fluid{
    --bs-gutter-x: 20%;
}
.fixed-top{
    top: 3%;
}
.offcanvas-title a{
    text-decoration: none;
    color: black;
}

.hero-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header h1{
    font-size: 76px;
    text-transform: uppercase;
    color: white;
    display: grid;
    place-content: center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 80px;

}
.hero-sec h1 span{
    display: inline-block;
}
.char{
    transform: translateY(115px);
    transition: transform 0.5s;
}
