/* Global Styles */

*{
    box-sizing: border-box;
}

html, body, header{
    margin: 0%;
    font-family: monospace;
    background: rgb(143,192,241);
    background: linear-gradient(
        90deg, rgba(143,192,241,1) 0%,
        rgba(229,212,238,0.9878545168067226) 50%,
        rgba(148,172,233,1) 100%);    
}

img{
    width: 100%;
    height: auto;
}

/* Desktop First Styling */

/* Header CSS */
.top-nav {
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
}
.top-nav img{
    width: 40%;
}
header a,h1{
    color: white;
    text-decoration:none;
}
.header-side{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.header-side li{
    list-style: none;
    align-items: center;
    font-size: 1.5rem;
    min-width: 5rem;
}
.header-side li a{
    display:block;
    padding: 1rem;
}

/* Body CSS */

.homeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 2.5rem;
}
.home-item img{
    height: auto;
    width: 150%;
}
.home-item{
    width:40%;
    text-align: center;
}
.side-nav{
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 40%;
}
.side-nav button{
    width:160px;
    height:60px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    background-color: rgba(255,255,255,0.8001794467787114);
}
.side-nav li{
    padding: 18px;
    text-align: center;
    list-style-type: none;
    min-height: 5rem;
}
.side-nav li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 500;
}

/* Phone Media Quierie */

@media screen and (max-width:768px){

}