/* Global Styles */

*{
    box-sizing: border-box;
}

html, body{
    font-family: monospace;
    background: rgb(143,192,241);
    background: linear-gradient(
        90deg, rgba(143,192,241,1) 0%,
        rgba(229,212,238,0.9878545168067226) 50%,
        rgba(148,172,233,1) 100%);
}

img{
    width: 100%;
}

/* Desktop First Styling */

/* Header CSS */

.top-nav {
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 4rem;
}
.top-nav img{
    width: 40%;
    height:auto;
}
header a,h1{
    color: white;
    text-decoration:none;
}
.header-side{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.header-side li{
    list-style: none;
    align-items: center;
    font-size: 1.5rem;
    min-width: 5rem;
}
.header-side li a{
    display:block;
    padding: 1rem;
}

/* Nav Dropdown Section */
.dropdown{
    overflow: hidden;
    width: 120px;
}

.dropdown .menu{
    font-size: 16px;  
    font-family: inherit;
    margin: 0;
}

.top-nav a:hover, .dropdown:hover .menu {
    color: black;
  }

.menu-content {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.menu-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.menu-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .menu-content {
    display: block;
}

/* Personal Profile section */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.about-row{
    display: flex;
    flex-direction: row;
    padding: 5%;
    border-radius: 15px;
    align-items: center;
}

.about-column{    
    flex: 50%;
    padding: 20px;
    margin: 5%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    border-radius: 15px;
}

.about-column img{
    width: 100%;
}

.about-column i{
    font-size: 36px;
}

/* Phone Media Quierie */
@media screen and (max-width:768px){
    .about-row{
        flex-direction: column;
    }
    .top-nav img{
        width: 60%;
        height: auto;
    }

}