/* Global Styles */

*{
    box-sizing: border-box;
}

html, body{
    margin: 0%;
    font-family: monospace;
    background: rgb(143,192,241);
    background: linear-gradient(
        90deg, rgba(143,192,241,1) 0%,
        rgba(229,212,238,0.9878545168067226) 50%,
        rgba(148,172,233,1) 100%);
    /* background-color: linear-gradient(180deg,rgba(229,212,238,0.8393951330532212) 50%, rgba(152,168,236,1) 100%); */
    
}

img{
    width: 100%;
    height: auto;
}

/* Desktop First Styling */

/* Header CSS */
.top-nav {
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
}
.top-nav img{
    width: 40%;
}