/* Global Styles */

*{
    box-sizing: border-box;
}

html, body{
    font-family: monospace;
    background: rgb(143,192,241);
    background: linear-gradient(
        90deg, rgba(143,192,241,1) 0%,
        rgba(229,212,238,0.9878545168067226) 50%,
        rgba(148,172,233,1) 100%);
    /* background-color: linear-gradient(180deg,rgba(229,212,238,0.8393951330532212) 50%, rgba(152,168,236,1) 100%); */
    
}

img{
    width: 100%;
}

/* Desktop First Styling */

/* Header CSS */

.top-nav {
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
}
.top-nav img{
    width: 40%;
}
header a,h1{
    color: white;
    text-decoration:none;
}
.header-side{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.header-side li{
    list-style: none;
    align-items: center;
    font-size: 1.5rem;
    min-width: 5rem;
}
.header-side li a{
    display:block;
    padding: 1rem;
}
/* Project Cards */

body h1{
    text-align: center;
    margin-top: 15%;
    margin-bottom: 0;
}

.project-column{
    width: 50%;
    padding: 5px;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.project-row{
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 200px 30px;
    border-radius: 15px;
}

.project-description{
    font-size: 30px;
}
